.message {
  padding: 10px 25px;
  margin: 0 auto;
  width: fit-content;
}

.message-successful {
  background-color: lightgreen;
  border: 5px solid green;
}

.message-info {
  background-color: lightgray;
  border: 5px solid grey;
}

.message-notice {
  background-color: lightyellow;
  border: 5px solid yellow;
}

.message-warning {
  background-color: peachpuff;
  border: 5px solid orange;
}

.message-failure {
  background-color: pink;
  border: 5px solid red;
}

.brand-quate-line1 {
  font-size: 0.94em;
  text-transform: capitalize;
}

.brand-quate-line2 {
  font-size: 1em;
  text-transform: uppercase;
}
blockquote{
  width: fit-content;
  font-size: 2em;
  background: lightgray;
  padding: 10px;
  margin: 50px;
}

body {
  margin: 0 auto;
  width: fit-content;
  padding: 8px;
}
main {
  margin: 0 auto;
  width: fit-content;
}