<form action="/account/login" method="post">

  <h2>Login</h2>

  <label for="email">Email:
    <input type="email" name="email" required>
  </label>
  <br>
  <br>
  <label for="password">Password:
    <input type="password" name="password" required>
  </label>
  <br>
  <br>
  <input type="submit" value="Log In" id="submit">

</form>