<form action="/account" method="post">
  <input type="hidden" name="_method" value="DELETE">

  <h2>Are you sure you want to delete your account?</h2>

  <div class="card">
    <label for="password">Password:
      <input type="password" name="password" required>
    </label>
  </div>
  
  <input type="submit" class="button danger" value="DELETE MY ACCOUNT">
</form>
