<form action="/account/login" method="post">

  <h2>Login</h2>

  <div class="card">
    <label for="email">Email:
      <input type="email" name="email" required>
    </label>
  </div>

  <div class="card">
    <label for="password">Password:
      <input type="password" name="password" required>
    </label>
  </div>

  <input type="submit" class="button" value="Log in" id="submit">

</form>