<form action="/account/signup" method="post">

  <h2>Sign up</h2>

  <div class="card">
    <label for="first_name">First Name:
      <input type="text" name="first_name" required>
    </label>
  </div>

  <div class="card">
    <label for="last_name">Last Name:
      <input type="text" name="last_name" required>
    </label>
  </div>

  <div class="card">
    <label for="email">Email:
      <input type="email" name="email" required>
    </label>
  </div>

  <div class="card">
    <label for="password">Password:
      <input type="password" name="password" required>
    </label>
  </div>
  
  <input type="submit" class="button" value="Sign up">

</form>